:root {
    --primary-color: #3F51B5;
    --secondary-color: rgb(28, 41, 87);
    --border-color: rgb(69, 82, 129);
    --hover-color: rgb(132, 143, 182);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.change-total {
    font-size: 1rem !important;
}

.primary {
    color: var(--primary-color);

}

.primary-bg {
    background: var(--primary-color);
}

.country-bg {
    background-color: rgb(26, 177, 223);
}

.serial-bg {
    background-color: rgba(0, 0, 0, 0.514);
}

.header {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 1rem 30px;
    width: 100%;
    color: steelblue
}

.country-selection {
    padding-left: 10px;
}

.country-selection label {
    color: rgb(4, 184, 4)
}

.country-selection select {
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--border-color);
    width: 10rem;
    height: 1.5rem;
    border-radius: 0.2rem;
}

.country-selection select option {
    font-size: 0.9rem;
}

.reset-button {
    outline: none;
    border: 1px solid var(--border-color);
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    background-color: var(--secondary-color);
    margin-left: 15px;
    height: 1.5rem;
    border-radius: 0.2rem;
}

.reset-button:hover {
    border: 1px solid white;
}

.red {
    color: #F44336;
    font-weight: 600;
}

.red-bg {
    background: #F44336;
}

.orange {
    color: #f39c12;
    font-weight: 600;
}

.orange-bg {
    background: #f39c12;
}

.yellow {
    color: yellow;
    font-weight: 600;
}

.green {
    color: #27ae60;
    font-weight: 600;
}

.green-bg {
    background: #27ae60;
}

.death {
    color: rgb(155, 141, 141);
    font-weight: 600;
}

/* Total ShowCase Data Style */
.top-data-show {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.8s;
    text-align: center;
}

.number {
    font-size: 2vw !important;
    padding: 0.5rem;
}

.total-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-size: 0.9rem;
    border-radius: 0.6rem;
    border: 1px solid var(--border-color);
}

.title {
    font-size: max(1vw, 10px);
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.total-data .change {
    font-size: 0.6rem;
}

/* world map data */
.world-data-showcase {
    margin-top: 1rem;
}

.world-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0.4px solid steelblue;
    text-align: center;
    padding: 0;
}

.xaxis path,
.xaxis .tick line {
    stroke: rgba(0, 0, 0, 0.589);
    stroke-width: 0.2;
}

.xaxis .tick text {
    fill: black
}

.yaxis path,
.yaxis .tick line {
    stroke: black
}

.yaxis .tick text {
    fill: black
}

.tooltip {
    background-color: rgba(255, 255, 255, 0.836);
    padding: 5px;
    color: black;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.table {
    color: white;
    border-color: white;
    height: 76vh;
    table-layout: auto;
}